@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/spinner")


<div class="tournament" id="tournament">
    <div class="agileinfo-dot">
        <div class="tournament-title">
            <div class="container agileits-title">
                <h2>Tournament</h2>
            </div>
        </div>
        <div class="container">
            <div id="spinner" class="spinner-wrapper container">
                <div class="cssload-square">
                    <div><div><div><div><div></div></div></div></div></div>
                    <div><div><div><div><div></div></div></div></div></div>
                </div>
                <div class="cssload-square cssload-two">
                    <div><div><div><div><div></div></div></div></div></div>
                    <div><div><div><div><div></div></div></div></div></div>
                </div>
            </div>
            <div id="tournamentDetails" style="display: none">
                <div class="row">
                    <div class="col-md-6">                        
                        <h1><span id="tournamentName"></span></h1>
                        <h3><span id="tournamentDescription"></span></h3>
                        <h3><span>Started at:</span><span id="tournamentStarted"></span></h3>

                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-md-4">
                        <div class="tournament-details ">
                            <i class="far fa-clock"></i>
                            <h2>
                                <span id="tournamentStatus"></span>
                            </h2>
                        </div>
                    </div>
                    <div class="text-center col-md-4">
                        <div class="tournament-details">
                            <i class="fas fa-lock-open" aria-hidden="true"></i>
                            <h2>
                                <span id="tournamentType"></span>
                            </h2>
                        </div>
                    </div>
                    <div class="text-center col-md-4">
                        <div class="tournament-details">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <h2>
                                <span id="tournamentPlayerCount"></span><span>/</span><span id="tournamentMaxCapacity"></span>
                            </h2>
                        </div>
                    </div>
                </div>
                <h2><span id="tournamentTag"></span></h2>
                <a id="btnCopy" class="transparent_btn orange btnClipboard btn-block" href="https://link.clashroyale.com/?joinTournament?id=">Join Tournament</a>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/CustomScripts/tournaments.js")"></script>    
}
@*@Scripts.Render(" ~/bundles/tournaments")*@