@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/spinner")

<div class="tournament" id="tournament">
    <div class="container">
        <div id="spinner" class="spinner-wrapper container">
            <div class="cssload-square">
                <div><div><div><div><div></div></div></div></div></div>
                <div><div><div><div><div></div></div></div></div></div>
            </div>
            <div class="cssload-square cssload-two">
                <div><div><div><div><div></div></div></div></div></div>
                <div><div><div><div><div></div></div></div></div></div>
            </div>
        </div>
        <div>

        </div>
        <div id="tournamentDetails" class="tournament-info" style="display: none">
            <h2>Name:<span id="tournamentName"></span>  @*@Model.name*@ </h2>
            <h2>Description: <span id="tournamentDescription"></span> @*@Model.name*@ </h2>
            <h2>Max Capacity: <span id="tournamentMaxCapacity"></span> @*@Model.maxCapacity*@ </h2>
            <h2>Type: <span id="tournamentDescription"></span> @*@Model.type*@ </h2>
            <h2>Tag: <span id="tournamentDescription"></span> @*@Model.tag*@ </h2>
            <h2>Status: <span id="tournamentDescription"></span> @*@Model.status*@ </h2>
            <h2>Capacity: <span id="tournamentDescription"></span> @*@Model.capacity*@ </h2>
            <h2>Player Count: <span id="tournamentDescription"></span> @*@Model.playerCount*@ </h2>
            <h5>Tournament name is automatically copied in the clipboard</h5>
            <button id="btnCopy" class="transparent_btn orange pull-right btnClipboard hidden" data-clipboard-text="asd@*@Model.name*@">Copy</button>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/CustomScripts/tournaments.js")"></script>    
}
@Scripts.Render(" ~/bundles/tournaments")